{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>Immunization, or immunisation, is the process by which an individual’s immune system becomes fortified against an agent (known as the immunogen).</p>
    <br>
    <p>Immunization is a proven tool for controlling and eliminating life-threatening infectious diseases and is estimated to avert between 2 and 3 million deaths each year according to WHO.</p>
    <br>
    <p>VaxKe reminds mothers on the days to take their babies for immunization.</p>
{% endblock content %}
